body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: white;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    height:40px;
    width:400px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    margin: 0 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    float:left;
    margin-left: 30px;
    margin:left;
    padding-left: 50px;
  }
  
  .nav-list a:hover {
    color: #61dafb; /* Change the color on hover */
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .nav-list li:hover .dropdown {
    display: block;
  }
  
  .dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .cta-button a {
    background-color: rgb(0, 162, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .ctaa-button a {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  
  .cta-button a:hover {
    background-color: #48a0d9;
  }
  
  .main-content {
    text-align: center;
    padding: 50px;
  }
  
  .h1 {
    margin-block-end: 18px;
    background-color: #24223e;
    background-image: url(/assets/home-test/text-bg/one-app-to-replace-them-all-desktop.svg);
    background-position: -50px -90px;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    background-repeat: no-repeat;
    color: #24223e;
    font-weight: 900;
    font-size: 70px;
    line-height: 86px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    max-inline-size: 700px;
   
  }
  
  .description {
    font-weight: 800;
    box-sizing: border-box;
    color: #24223e;
    font-size: 23px;
    line-height: 34px;
    text-align: center;
   
  }

  